Olá!<br/><br/>
Esta área destina-se a exiber as principais dúvidas dos usuários do sistema e as respostas.<br/><br/>
Ajude-nos a melhorar a ferramenta deixando aqui sua dúvida, sugestão, crítica...
<br/>
<br/>
<%= flash_messages flash %>
<p><%= link_to "registrar sugestão", new_sugestao_path, :icon => 'add' %></p>
<br/>

<%= link_to 'Voltar', root_path, :icon => :arrow_left %>



